// .center {
//   text-align: center;
// }

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.icon-link {
  margin: 1rem 0;
  display: flex;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 3rem;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background: #00acee;
}

.icon-link:hover {
  color: #fff;
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0);
}
